header{
    background-color: lightskyblue;
}
.container{
    margin: 8px;
}
.heading{
    color: white;
}
a{
    color:white;
    text-decoration: none;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    
}
.unorderedlist{
    display: flex;
    list-style: none;
    margin: 5px;
}
.list-item{
    padding: 5px;
    font-size: 16px;
}
.heading{
    font-size: 20px;
    font-weight: 800;
}
#hero{
    background-color: darkslategray;
    padding: 20px;
}
.image1{
   height: 100px;
   width:100px
}
.container1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.heading2{
    font-size: 15px;
    font-weight: bold;
    column-gap: white;
}
.span1{
    font-size: 22px;
    font-weight: bold;
    color: yellow;
}
.span2{
    font-size: 20px;
}
.heading3{
    font-size: 15px;
    font-weight: bold;
}